.DS_Store
.env
.npmrc
*-128.png
*-32.png
*-64.png
index.json
.gitsync_lock

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Node.js Modules
/node_modules
yarn.lock

# Source Folder & file
/psd
/original
*.psd
*.ai
/.tmp
/.sass-cache
/bower_components
/dist
/temp
appDist
dist_binaries

